.formContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formContainer .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-width: 400px;
    padding: 40px;
    border-radius: 4px;
}

.formContainer .form input,
.formContainer .form select {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}

.formContainer .form button {
    margin-top: 20px;
    padding: 8px 16px;
    width: 100%;
    background: coral;
    border: 1px solid coral;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.result {
    margin-top: 20px;
}